.user-main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #bcbcbb 0%, #ffffff 56%, #ffffff 100%);
  box-shadow: 0px 2px 5px 0px rgba(178, 178, 178, 0.52);
}

.bg-avatar {
  width: 85%;
  height: 385px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.bg-avatar-optional {
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.564);
  width: 175px;
  padding: 8px 3px;
  margin: 3px 35px 3px 0;
  border-radius: 5px;
}

.bg-avatar-optional:hover {
  background-color: rgba(0, 0, 0, 0.59);
}

.img-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img-upload img {
  margin: 15px 0;
  width: 100%;
  object-fit: cover;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/facebook-clone-1e97f.appspot.com/o/facebook-icon%2Fbutton-gif.gif?alt=media&token=f43b5f98-0bdb-4b95-8dba-c98e1dadef0e");
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  opacity: 50%;
}

.foo-bar {
  text-align: center;
}

.user-main-avatar-info-container {
  width: 100%;
  background-color: #ffffff;
  padding: 12px 135px;
}

.user-main-avatar-info {
  display: flex;
  justify-content: space-between;
}

.user-main-avatar-info-left {
  display: flex;
  text-align: center;
}

.user-main-avatar,
.friend-main-avatar {
  overflow: hidden;
  width: 195px;
  height: 195px;
  border-radius: 100%;
  cursor: pointer;
  background-color: black;
  border: 5px solid white;
}

.friend-main-avatar {
  position: absolute;
  top: 400px;
}

.user-main-avatar img,
.friend-main-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-main-avatar img:hover,
.friend-main-avatar img:hover {
  opacity: 85%;
}

.user-main-info,
.friend-main-info {
  padding: 0 20px;
  text-align: left;
}

.friend-main-info {
  margin: 5px 0 55px 195px;
}

.user-main-info-name {
  font-size: 35px;
  font-weight: 700;
}

.user-main-info-nickname {
  font-size: 30px;
}

.user-main-info-friend-quantity {
  color: rgb(99, 99, 99);
  font-size: 15.5px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.user-main-info-friend-quantity i {
  font-size: 4px;
  padding: 3px 5px 0px 5px;
}

.user-main-info-friend {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-main-info-friend-first,
.user-main-info-friend-avatar,
.user-main-info-friend-last {
  overflow: hidden;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  border: 3px white solid;
  cursor: pointer;
}

.user-main-info-friend-avatar,
.user-main-info-friend-last {
  margin-left: -9px;
}

.user-main-info-friend-last {
  background-color: rgba(75, 75, 75, 0.916);
}

.user-main-info-friend-last:hover {
  background-color: rgb(75, 75, 75);
}

.user-main-info-friend-first img,
.user-main-info-friend-avatar img,
.user-main-info-friend-last img {
  border-radius: 100%;
  border: 1.5px solid rgb(192, 192, 192);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-main-info-camera {
  cursor: pointer;
  position: absolute;
  left: 275px;
  top: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e6eb;
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.user-main-info-camera:hover {
  background-color: #dddee3;
}

.user-main-info-camera i {
  padding: 3px;
  font-size: 23px;
}

.user-main-avatar-info-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-main-add-news,
.user-main-edit {
  font-size: 15.5px;
  font-weight: 500;
  padding: 8px 12px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.user-main-add-news {
  background-color: #1b74e4;
  color: #ffffff;
}

.user-main-add-news:hover {
  background-color: #1460bd;
}

.user-main-edit {
  background-color: #e4e6eb;
}

.user-main-edit:hover {
  background-color: #dadce0;
}

.user-main-nav-container {
  display: flex;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid rgb(198, 198, 198);
}

.user-main-nav,
.user-main-nav-active {
  cursor: pointer;
  padding: 15px;
  margin-right: 3px;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 0px;
}

.user-main-nav {
  color: rgb(99, 99, 99);
  border-bottom: transparent solid 3.5px;
}

.user-main-nav-active {
  color: #1b74e4;
  border-bottom: #1b74e4 solid 3.5px;
}

.user-main-nav:hover {
  background-color: #d1d1d183;
  border-radius: 8px;
}

@media only screen and (max-width: 1000px) {
  .bg-avatar {
    width: 100%;
    height: 215px;
  }

  .user-main-avatar,
  .friend-main-avatar {
    position: absolute;
    top: 185px;
    left: 185px;
  }

  .user-main-info-camera {
    left: 265px;
    top: 200px;
  }

  .user-main-avatar-info-container {
    width: 100%;
    background-color: #ffffff;
    padding: 125px 5px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-main-avatar-info {
    display: block;
  }

  .user-main-info,
  .friend-main-info {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .friend-main-info {
    margin: 0px;
  }

  .user-main-avatar-info-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .user-main-info-camera {
    left: 325px;
    top: 325px;
  }

  .bg-avatar-optional {
    width: 45px;
  }

  .bg-avatar-optional span {
    display: none;
  }

  .user-main-avatar-info-right {
    justify-content: center;
  }
}
