* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-container {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  display: flex !important;
  justify-content: space-between !important;
  z-index: 999;
}

.bootstrap-container {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: 0px 2px 5px 0px rgba(178, 178, 178, 0.52);
}

.nav-container .circle-logo {
  margin-left: 15px;
  width: 45px;
  cursor: pointer;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-left i {
  background-color: #eeeeeeb1;
  padding: 15px;
  margin: 0px 10px 0 10px;
  border-radius: 50px;
  color: #65676b;
  font-size: 17px;
}

.bars {
  display: none;
}

.bars i {
  font-size: 29px;
  color: #65676b;
  background-color: transparent;
}

.nav-container .nav-middle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 175px;
  margin-right: 25px;
}

.nav-container .nav-middle div:hover {
  background-color: #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
}

.nav-container .nav-middle i {
  font-size: 25px;
  padding: 17px 50px 17px 50px;
}

.nav-container .nav-middle .non-active {
  border-bottom: 3.75px solid transparent;
}

.nav-container .nav-middle .non-active i {
  color: #65676b;
}

.nav-container .nav-middle .active {
  border-bottom: 3.75px solid #1b74e4;
}

.nav-container .nav-middle .active i {
  color: #1b74e4;
}

.nav-container .nav-middle .active:hover {
  background-color: #ffffff;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.right-icon {
  margin: 5px;
  border-radius: 50px;
  background-color: #e4e6eb;
  padding: 10px;
  cursor: pointer;
}

.right-icon:hover {
  background-color: #dddddd;
}

.right-icon img {
  width: 25px;
}

.right-avatar {
  background-color: black;
  margin: 5px;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  overflow: hidden;
  cursor: pointer;
}

.right-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-avatar img:hover {
  opacity: 80%;
}

.right-icon-nofication {
  position: fixed;
  top: 0.5%;
  right: 108px;
  color: white;
  background-color: #e41e3f;
  width: 22px;
  text-align: center;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
}

@media only screen and (max-width: 1150px) {
  .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
  }

  .nav-container .nav-middle {
    margin: 5px;
  }
  .nav-container .nav-middle i {
    padding: 5px;
  }

  .nav-container .nav-middle {
    display: none;
  }

  .bars {
    display: block;
  }

  .bars i:hover {
    background-color: #f0f0f0d8;
    padding: 12px;
    margin: 3px 0 3px 13px;
    border-radius: 8px;
  }

  .bars i:active {
    background-color: #e0e0e0d8;
  }

  .right-icon-nofication {
    right: 65px;
  }
}

@media only screen and (max-width: 1050px) {
  .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .right-icon-nofication {
    right: 65px;
  }
}
